.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
  position: relative;

  @media screen and ( max-width: 800px ) {
    height: 200px;
}

  

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.15);
      transition: transform 6s cubic-bezier(.25, .45, .45, .95);
      
    }

    & .content {
      opacity: .9;
    }
  }

  &.large {
    height: 380px;

    @media screen and ( max-width: 800px ) {
      height: 200px;
  }
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  

  

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }



  .content {
    height: 90px;
    max-width: 75%;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    position: absolute;


    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
      word-wrap: break-word;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
